
body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container{
    display: flex;
    flex-direction: column;
}

.cards{
    position: relative;

    width: 180px;
    height: 200px;
    margin: 5px;
    cursor: pointer;
    perspective: 800px;
    transform-style: preserve-3d;
}

.view{
    display: flex;
    align-items: center;
    justify-content: center;   
    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform .4s linear;
    backface-visibility: hidden;
}

.cards .f-view{   
    font-size: 64px;
    background: red;
}

.cards .b-view {
    transform: rotateY(-180deg);
    font-size: 64px;
    background: rgb(29, 173, 24);
 
}

.cards:hover .b-view{
transform: rotateY(0deg);
}

.cards:hover .f-view {
    transform: rotateY(180deg);
}